.LectorQR {
    display: flex;
    justify-content: center; /* Alinea horizontalmente al centro */
    align-items: center; /* Alinea verticalmente al centro */
    flex-direction: column; /* Alinea los elementos en una columna vertical */
   
}

.LectorQR h1 {
    font-size: 35px;
    color: #72C00D;
    font-weight: bold;
    margin: 10px;
}

.DivVideoQR {

    width: 35%; /* Ancho del video al 100% del div contenedor */
    height: auto; /* Altura automática para mantener la proporción original */
    border-radius: 20px;
}

.VideoQR {
    width: 100%; /* Ancho del video al 100% del div contenedor */
    height: auto; /* Altura automática para mantener la proporción original */
    border-radius: 10px;
    transform: scaleX(1); /* -1 Voltea horizontalmente la imagen del video */
      
}

.boton-cancelar-qr {
    border: 2px solid #ab1100;
    background-color: #ff4b37;
    color: #fff;
    padding: 0.5rem 0.5rem;
    width: auto;
    border-radius: 5px;
  }
  
  .boton-cancelar:hover{
    background-color: #ab1100;
  }

.Link {
    text-decoration: none;
    color: white;
}
