.divLista{
  width: 380px; /* Ajusta el tamaño del botón a tu gusto */
  height: 270px; /* Ajusta el tamaño del botón a tu gusto */
  margin-top: 10px;
  margin-left: 10px;
  }

.BotonLista {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ajusta el tamaño del botón a tu gusto */
  height: 100%; /* Ajusta el tamaño del botón a tu gusto */
  background-color: #72C00D; /* Color de fondo del botón */
  color: #041E42; /* Color del texto del botón */
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.6s ease;
  border-radius: 8px;
  border: 2px solid #041E42;
  }
  
  .BotonLista:hover {
    background-color: #041E42; /* Color de fondo del botón al pasar el ratón por encima */
    color: #72C00D;
    text-decoration: none;
    border: 3px solid #72C00D
  
  }
  
  .BotonListaImage {
    margin-top: 20px;
    width: 80%; /* Ajusta el tamaño de la imagen a tu gusto */
    height: 80%; /* Ajusta el tamaño de la imagen a tu gusto */
    transition: transform 0.5s ease;
    border-radius: 4px;
    border: 2px solid #041E42;
  }
  
  .BotonListaImage:hover {
    transform: translateY(-3px); /* Mueve la imagen un poco hacia arriba al pasar el ratón por encima */
    border: 2px solid #72C00D; /* Mueve la imagen un poco hacia arriba al pasar el ratón por encima */
  }
  
  .BotonListaText {
    margin-bottom: 8px;
    font-size: 32px;
  }
  
  
  .Link {
    text-decoration: none;
  }
  
