.device-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.titulo-device {
    font-size: 28px;
    margin-bottom: 20px;
}

.device-details-table {
    display: grid;
    grid-template-columns: 2fr 2fr; /* Dos columnas de igual tamaño */
    gap: 30px; /* Espaciado entre las columnas */
    width: auto; /* Ajusta el ancho de la tabla */
    margin: 20px auto; /* Centra la tabla */
}

.table-column {
    display: flex;
    flex-direction: column;
    width: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
}

.row:nth-child(even) {
    background-color: #f1f1f1;
}

.row:hover {
    background-color: #eaeaea;
}

.cell {
    flex: 1;
    padding: 5px;
    text-align: left; /* Alinea el texto a la izquierda */
}

.cell:first-child {
    font-weight: bold;
    text-align: left; /* Alinea el texto del nombre del campo a la izquierda */
}

.cancel-button {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.cancel-button:hover {
    background-color: #d32f2f;
}